.bg-1 {
  background-color: #0c0a09;
}
.border1 {
  border: 2px solid #b5b3b2;
}
.lobster-regular {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}
.bg-header {
  background-color: #0c0a09;
}
.bg-wh {
  background-color: #44403c;
}
@keyframes spiralGrow {
  0% {
    transform: rotate(720deg) scale(0); /* Start small and rotated */
    opacity: 0;
  }
  25% {
    transform: rotate(540deg) scale(0.25); /* Rotate and scale slightly larger */
    opacity: 0.25;
  }
  50% {
    transform: rotate(360deg) scale(0.5); /* End at normal size with no rotation */
    opacity: 0.5;
  }
  75% {
    transform: rotate(180deg) scale(0.75); /* Rotate and scale slightly larger */
    opacity: 0.75;
  }
  100% {
    transform: rotate(0deg) scale(1.5); /* End at normal size with no rotation */
    opacity: 1;
  }
}

.animate-spiral {
  animation: spiralGrow 3s ease-out forwards; /* 3s duration, ease-out timing */
}
.min-h {
  min-height: 50vh;
}
.min-dis-h {
  min-height: 45vh;
}
.h {
  height: 100vw;
}
